<IfModule mod_rewrite.c>
    RewriteEngine On

    # Kalau file atau folder memang ada, jangan rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua request ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
